* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.container {
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 1em;
    background-color: rgb(120, 151, 192);
    height: 40vw;
    width: 90vw;
    margin-top: 10vh;
    margin-bottom: 8vh;
    backdrop-filter: blur(1);
}


body
{
    width: 100%;
}


.choix{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin-bottom: 10vh;
}

.animes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 105, 109);
    border-radius: 1em;
    position: relative;
    height: 30vw;
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.hidden {
    visibility: collapse;
    display: none;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 45vw;
}

.image_anime {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: 25vw;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    /*z-index: 1; mettre au premier plan*/
}

.choix p{
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.choix p:hover{
    color: rgb(127, 229, 255);
}

.bouton a{
    text-decoration: none;
    color: black;
}
.button:hover{
    color: aliceblue;
}
.button {
    position: absolute;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 205, 226);
    border: 3px solid rgb(128, 139, 153);
    border-radius: 1em;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
    width: 8vw;
    height: 3vw;
}

/*.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    background-color: rgb(213, 236, 219);
    position: absolute;
    bottom: 6vw;
    height: 15vw;
    width: 60vw;
}*/

.answer1 {
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(120, 151, 192);
    border: 4px solid rgb(78, 98, 124);
    border-radius: 3em;
    width: 19vw;
    height: 4vw;
}

.answer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(120, 151, 192);
    border: 4px solid rgb(78, 98, 124);
    border-radius: 3em;
    width: 19vw;
    height: 4vw;
}

.answer3 {
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(120, 151, 192);
    border: 4px solid rgb(78, 98, 124);
    border-radius: 3em;
    width: 19vw;
    height: 4vw;
}

.answer4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(120, 151, 192);
    border: 4px solid rgb(78, 98, 124);
    border-radius: 3em;
    width: 19vw;
    height: 4vw;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}